body {
  background-color: #faf8ef;
}

#grille {
  display: grid;
  width: 450px;
  height: 450px;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  background-color: #bbada0;
  border: 6px solid #bbada0;
  border-radius: 10px;
}

.tuile {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee4da;
  border: 6px solid #bbada0;
  font-family: "Arial Rounded MT Bold";
  font-size: 50px;
  border-radius: 10px;
}

.c2 {
  background-color: #eee4da;
  color: #776e65;
} 
.c4 {
  background-color: #ede0c8;
  color: #776e65;
} 
.c8 {
  background-color: #f2b179;
  color: #f9f6f2;
} 
.c16 {
  background-color: #f59563;
  color: #f9f6f2;
}
.c32 {
  background-color: #f67c5f;
  color: #f9f6f2;
} 
.c64 {
  background-color: #f65e3b;
  color: #f9f6f2;
} 
.c128 {
  background-color: #edcf72;
  color: #f9f6f2;
} 
.c256 {
  background-color: #edcc61;
  color: #f9f6f2;
}
.c512 {
  background-color: #edc850;
  color: #f9f6f2;
}